*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    /*background-color: aqua;*/
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    /*cursor: none;*/
}
#cursor{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    z-index: 99;
    transition: all linear 0.1s;
    
}
.elem{
    height: 50vh;
    width: 30vw;
    /*background-color: red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    

}
.elem img{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    position: absolute;
    scale: 0;
    opacity: 0;
    z-index: -1;
    transition: all linear 0.2s;
}
.elem h1{
    font-size: 90px;
    font-weight: 900;
    color: #fff;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 2px;
    mix-blend-mode: difference ;

}

.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: #00000000;

}
